<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mypetstore.css}" type="text/css" media="screen"/>
</head>
<body>
<footer th:fragment="footer">
    <div id="Footer">

        <div id="PoweredBy">
            &nbsp<a href="http://www.csu.edu.cn">Central South University</a>
        </div>

        <div id="Banner">
            <label th:if="${session.loginAccountProfile} != null">
                <img th:if="${session.loginAccountProfile.bannerOption}"
                     th:src="'../images/banner_'+${#strings.toLowerCase(session.loginAccountProfile.favoriteCategory)}+'.gif'" alt="">
            </label>
        </div>

    </div>
</footer>
</body>
</html>