<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mypetstore.css}" type="text/css" media="screen"/>
</head>
<body>

<header th:replace="~{common/top}"></header>
<div id="Catalog">
    <div th:if="${newAccountMsg != null}" style="color: red;" th:text="${newAccountMsg}"></div>
    <form th:action="@{/account/newAccount}" method="post">
        <h3>User Information</h3>
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" id="username" /></td>
            </tr>
            <tr>
                <td><div id="feedback"></div></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" name="password" id="password"/></td>
            </tr>
            <tr>
                <td><div id="password_feedback"></div></td>
            </tr>
            <tr>
                <td>Repeat password:</td>
                <td><input type="password" name="repeatedPassword" id="repeatedPassword"/></td>
            </tr>
            <tr>
                <td><div id="repeat_feedback"></div></td>
            </tr>
            <tr>
                <td>
                    <img th:src="@{/captcha/newCaptcha}" alt="验证码"
                         onclick="src='/captcha/newCaptcha?'+Math.random()" style="cursor: pointer">
                </td>
                <td><input type="text" name="inputCaptcha"></td>
            </tr>
        </table>
        <input type="submit" name="newAccount" value="Register" />
    </form>
</div>
<header th:replace="~{common/bottom}"></header>

</body>
</html>