<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mypetstore.css}" type="text/css" media="screen"/>
</head>
<body>

<header th:replace="~{common/top}"></header>
<div id="Catalog">
  <form th:action="@{/account/signOn}" method="post">
    <div>Please enter your username and password.</div>

    <div th:if="${signOnMsg != null}" style="color: red;">
      <span th:text="${signOnMsg}"></span>
    </div>

    <table>

      <tr>
        <td>Username:</td>
        <td><input type="text" name="username" /></td>
      </tr>
      <tr>
        <td>password:</td>
        <td><input type="password" name="password" /></td>
      </tr>
<!--      <tr>-->
        <!-- 验证码图片 Thymeleaf 路径 + 点击刷新 -->
<!--        <td>-->
<!--          <img th:src="@{/newCaptcha}"-->
<!--               onclick="this.src='/newCaptcha?'+Math.random()"-->
<!--               style="cursor:pointer;">-->
<!--        </td>-->
<!--        <td><input type="text" name="inputCaptcha"></td>-->
<!--      </tr>-->
    </table>

    <input type="submit" name="signOn" value="Login">
  </form>

  Need a username and password?
  <a th:href="@{/account/newAccountForm}">Register Now!</a>
</div>
<footer th:replace="~{common/bottom}"></footer>

</body>
</html>